html, body {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background: url(coffee-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}